{% include 'layout.html' %}
<div class="container">
  <h4 class="center-align">
    Add Input
  </h4>
  <form action="/portal" method="POST">
    <div class="input-field">
      <select id="configSelect" class="styled-select">
        <option value="" disabled selected>Choose your option</option>
        {% for config in configs_list %}
          <option value="{{ config }}">{{ config }}</option>
        {% endfor %}
      </select>
      <label>Configurations</label>
    </div>
    
    <div class="input-field">
      <textarea class="materialize-textarea" placeholder="Add input here" name="user_input" rows="3"></textarea>
      <button class="btn waves-effect waves-light" type="submit">Send</button>
    </div>

  </form>

  <div class="section">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Open AI Responses:</span>
        <div>
          {% for response in chat_responses %}
          <div class="chat-response">
            {{ loop.index }}. {{ response }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<link href="/static/css/home.css" rel="stylesheet">
<script src = "/static/js/home.js">
</script>