{% include 'layout.html' %}
<div class="container mt-5">
  <h3 class="center-align">
    Reports:
  </h3>

  <!-- chat log -->
  <div class="section">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Chat Log OpenAI direct:</span>
        <div>
          {% for log in chat_log %}
          <div>
            {{ loop.index }}. {{ log }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- chat log response -->
  <div class="section">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Chat Log Response OpenAI direct:</span>
        <div>
          {% for log_response in chat_log_responses %}
          <div>
            {{ loop.index }}. {{ log_response }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- guard -->
  <div class="section">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Guard Input:</span>
        <div>
          {% for g in guard %}
          <div>
            {{ loop.index }}. {{ g }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- guard log -->
  <div class="section">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Guard Log Response:</span>
        <div>
          <table class="highlight">
            <thead>
              <tr>
                <th>#</th>
                <th>Config ID</th>
                <th>Log</th>
              </tr>
            </thead>
            <tbody>
              {% for g_log in guard_log %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ g_log.config_id }}</td>
                <td>{{ g_log.log }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- guard log response -->
  <!-- <div class="section">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Guard Log Response:</span>
        <div>
          {% for g_log_res in guard_log_responses %}
          <div>
            Config ID: {{ g_log_res.config_id }} - Response: {{ g_log_res.response }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div> -->