{% extends "layout.html" %}
{% block content %}

  <h3 class="center-align">Reports</h3>

  <!-- Log Table -->
  <div class="section">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Interaction Log</span>
        <div class="table-responsive">
          <table class="striped">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>User</th>
                <th>Message</th>
                <th>Bot Response Time</th>
                <th>Guard Response Time</th>
                <th>Engine/Model</th>
                <th>Bot Response</th>
                <th>Guard Response</th>
                <th>Violation</th>
              </tr>
            </thead>
            <tbody>
              {% for log in logs %}
              <tr>
                <td>{{ log.Timestamp }}</td>
                <td>{{ log.User }}</td>
                <td>{{ log.Message }}</td>
                <td>{{ log.BotResponseTime }}</td>
                <td>{{ log.GuardResponseTime }}</td>
                <td>{{ log.Engine }}</td>
                <td>{{ log.ConfigID }}</td>
                <td>{{ log.BotResponse }}</td>
                <td>{{ log.GuardResponse }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}